body{
    background-color: #212121;
    color: #fff;
}

.interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15%;
}


#clock{
    height: 50px;
    width: 200px;
    background-color: orange;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}